<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Home</title>

    <link rel="stylesheet" href="../styles/central.css">
    <link rel="stylesheet" href="../styles/libraries/slick.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="../scripts/homeController.js"></script>
    <script src="../scripts/libraries/slick.js"></script>

</head>

<body>
    <div>
        <div class="center-heading-container">
            <h1 id="heading">Coden!</h1>

            <div class="slider" style="height: 100px">
                <div>
                    <div class="slider-item">your content</div>
                </div>
                <div>
                    <div class="slider-item">your content</div>
                </div>
                <div>
                    <div class="slider-item">your content</div>
                </div>
                <div>
                    <div class="slider-item">your content</div>
                </div>
                <div>
                    <div class="slider-item">your content</div>
                </div>
                <div>
                    <div class="slider-item">your content</div>
                </div>
                <div>
                    <div class="slider-item">your content</div>
                </div>
                <div>
                    <div class="slider-item">your content</div>
                </div>
            </div>

        </div>
    </div>
</body>

</html>