h1{
    margin: auto;
    font-size: 400px;
    font-family: monospace;
    font-weight: bolder;
}

.center-heading-container{
    margin: auto;
    width: 1300px;
}

.slider-item{
    height: 200px;
    width: 300px;
    background-color: rgb(32, 56, 48);
    border-radius: 5px
}
